* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 80%);
  font-family: "Barlow Semi Condense", sans-serif;
  font-size: 13px;
}

#testimonial-grid-container {
  padding: 5% 3%;
}

.grid-item {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px hsl(0, 0%, 49%);
}

.grid-item h4 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.grid-item p {
  opacity: 70%;
}

#quote {
  position: absolute;
  right: 20px;

  z-index: -1;
}

#header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  z-index: 1;
}

#header img {
  border-radius: 50%;
  border: 2px inset hsl(0, 0%, 100%);
  margin-right: 10px;
}

#header-text p:first-of-type {
  font-size: 1rem;
  opacity: 100%;
}

#header-text p:last-of-type {
  opacity: 50%;
}

#testimonial-1 {
  position: relative;
  z-index: 0;
  background-color: hsl(263, 55%, 52%);
}

#testimonial-2 {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
}

#testimonial-3,
#testimonial-5 {
  background-color: hsl(0, 0%, 100%);
  color: hsl(219, 29%, 14%);
}

#testimonial-4 {
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 100%);
}

#testimonial-1 h4 ~ p,
#testimonial-2 h4 ~ p,
#testimonial-3 h4 ~ p,
#testimonial-4 h4 ~ p,
#testimonial-5 h4 ~ p {
  line-height: 20px;
}

@media (min-width: 576px) {
  #testimonial-grid-container {
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-between;
  }

  #testimonial-grid-container,
  #main-left,
  #top,
  #bottom {
    display: flex;
  }

  #top,
  #bottom {
    flex-basis: 50%;
    justify-content: space-between;
  }

  #main-left {
    flex-direction: column;
    flex-basis: 73%;
  }

  #testimonial-1,
  #testimonial-4 {
    flex-basis: 62%;
  }

  #testimonial-2,
  #testimonial-3 {
    flex-basis: 35%;
  }

  #testimonial-5 {
    flex-basis: 25%;
  }
}
